/* google work sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
    display: flex;
}

/* dark 2 */
.text-gray {
    color: rgba(66, 66, 66, 1);
}

/* dark 3 */
.text-light-gray {
    color: rgba(114, 114, 114, 1);
}

.bg-light {
    background: #fff3e6;
}

.btn-primary {
    background: #FF900E;
    color: #fff;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    line-height: 23px;
}

p {
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    line-height: 26px;
}

main > section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    line-height: 53px;
    color: #131313;
    font-weight: 700;
}

/* header styles */

/* navbar related styles */
.navbar, .banner, main {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 120px;
}

.brand {
    color: rgba(19, 19, 19, 1);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
}

.nav-links {
    gap: 30px;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    color: rgba(66, 66, 66, 1);
    font-weight: 500;
}

/* banner related styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    margin-bottom: 32px;
}

.banner-img {
    width: 100%;
    margin-bottom: 45px;
}

/* team and feature styles */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.feature-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

/* .feature-title {
    font-size: 2.8rem;
    line-height: 53px;
    color: #131313;
    font-weight: 700;
} */

.section-title #quick {
    font-weight: 500;
    color: #727272;
}

.section-title .orange {
    color: #ff900e;
}

/* features will enjoy */
.some-facts {
    margin-bottom: 16px;
}

/* facts related styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.fact-card {
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.24rem;
    color: rgba(114, 114, 114, 1);
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams  {
        flex-direction: column;
    }

    .p {
        font-size: .9rem;
    }

    .teams {
        flex-direction: column-reverse;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .our-features {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 32px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .our-features {
        margin: 32px 10px;
    }
}